<%-include('../partials/header') %>
<div class="container">

<section id="show-page">
    <div class="container">
        <form class="new-form" action="/listings" method="POST">
          <label>date</label>
              <br>
              <%= listing.date %>
              <br>
              <br>
          <label>title</label>
             <br>
            <%= listing.title %>
             <br>
             <br>
             <label>budget</label>
              <br>
              <%= listing.budget %>
              <br>
              <br>
          <label>location</label>
             <br>
            <%= listing.location %>
             <br>
             <br>
             <label>name</label>
             <br>
            <%= listing.name %>
             <br>
             <br>
             <label>contact</label>
             <br>
            <%= listing.contact %>
             <br>
             <br>
          
        </form>
        </div>
        <form action="/listings/<%= listing._id %>" method="POST" autocomplete="off">
            <input type="text" name="todo">
            <button type="submit">Enter email to submit</button>
          </form>
        <form class="new-form" action="/listings/<%= listing._id %>" method="POST">
            <label>Submissions</label>
            <br>
            <%= listing.Submissions %>
            <br>
            <br>
        </form>
<br><br><br>
</div>

<%- include('../partials/footer') %>