<%- include('../partials/header') %>
<h1>Gig Board</h1>
<div class="container">
<table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Budget</th>
        <th>Location</th>
        
      </tr>
    </thead>
    <tbody>
      <% listings.forEach( (l) => { %>
       
        <tr>
          <td><%= l.date %></td>
          <td><%= l.title %></td>
          <td><%= l.budget %></td>
          <td><%= l.location %></td>
          <td><a class="details" href="/listings/<%= l._id %>">DETAILS</a></td>
           
            <td class="delete">
            <% if (user){ %>
              <% if (l.member.toString() === user._id.toString()) { %>
            <form action="/listings/<%= l._id %>?_method=DELETE" method="POST" class="secondary-content">
              <button type="submit" class="btn-small white-text">DELETE</button>
            </form>
          </td>
          <td class="edit">
            <form method=“GET” action="/listings/<%= l._id %>/edit">
              <button type=“submit” class="btn-small">edit</button>
              </form>
            <% } %><% } %>
          </td>
        </tr>
        
      <% }); %>
    </tbody>
  </table>
  </div>
  
<%- include('../partials/footer') %>