<%- include('../partials/header') %>
<head>
<!-- Google Icon Fonts used by Materialize -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Materialize CSS Framework -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="stylesheets/style.css" />
<!-- JavaScript for Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Budget</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% listing.forEach( (l) => { %>
        <tr>
          <td><%= l.date %></td>
          <td><%= l.title %></td>
          <td><%= l.budget %></td>
          <td><%= l.location %></td>
          <td><a href="/listings/<%= l._id %>">DETAILS</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>