<%-include('../partials/header') %>
<div class="container">

<section id="show-page">
    <div class="container">
        <form class="new-form" action="/listings" method="POST">
          <label>date</label>
              <br>
              <%= listing.date %>
              <br>
              <br>
          <label>title</label>
             <br>
            <%= listing.title %>
             <br>
             <br>
             <label>budget</label>
              <br>
              <%= listing.budget %>
              <br>
              <br>
          <label>location</label>
             <br>
            <%= listing.location %>
             <br>
             <br>
             <label>name</label>
             <br>
            <%= listing.name %>
             <br>
             <br>
             <label>contact</label>
             <br>
            <%= listing.contact %>
             <br>
             <br>
          
        </form>
        </div>

<br><br><br>
</div>

<%- include('../partials/footer') %>