<%- include('../partials/header') %>
<head>
<!-- Google Icon Fonts used by Materialize -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Materialize CSS Framework -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="stylesheets/style.css" />
<!-- JavaScript for Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<table id="list">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs: </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach( (f) => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>